---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home page</title>
	</head>
	<body>
		<!-- Nav links start -->
		<a href="/">Home</a>
  		<a href="/about/">About</a>
  		<a href="/blog/">Blog</a>
		<!-- Nav links end -->
  	<h1>My home page</h1>
	</body>
</html>
